/* @media(max-width:340px) {}

@media(min-width:410px) {} */

html {
  font-size: 20px;
  height: 100%;
}

@media(max-width:340px) {
  html {
    font-size: 18px;
    height: 100%;

  }
}

@media(min-width:410px) {
  html {
    font-size: 22px;
    height: 100%;

  }
}

/* body默认样式 */
body {
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #f8f8f8;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* 页面蒙版 */
.ssy-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 200;
}