.flex-box {
  display: flex;
  flex-direction: column;
}

.flex-box>.box1 {
  flex-basis: 80px;
  background: red;
}

.flex-box>.box2 {
  flex-basis: 80px;
  background: green;
}

.flex-box>.box3 {
  flex-basis: 120px;
  background: yellow;
}

.flex-box>.box {
  width: 50px;
  height: 100px;
}